//! {full_name}

use crate::*;

use sea_orm::entity::prelude::*;

#[derive(Clone, Debug, Default, DeriveEntityModel)]
#[sea_orm(table_name = "{table_name}")]
pub struct Model {{
    #[sea_orm(primary_key)]
    pub pk_id: i32,