//! class : {full_name}
{import}
#[derive(Clone, Debug, Default, PartialEq, DeriveEntityModel)]
#[sea_orm(table_name = "{table_name}")]
pub struct Model {{
    #[sea_orm(primary_key)]
    pub id: i64,
{fields}}}

#[derive(Copy, Clone, Debug, EnumIter, DeriveRelation)]
pub enum Relation {{
{relations}}}
{related}
impl ActiveModelBehavior for ActiveModel {{}}

impl ActiveModel {{}}

// RAW :
{raw}